{% if ea.crud.currentAction == 'detail' %}
    <ul class="list-group">
        {% for picture in field.value %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {# <span class="badge badge-primary"> Mise à jour : le {{ picture.updatedAt|date('d-m-Y h:i') }} à {{ picture.updatedAt|date('h:i:sa') }} </span> #}
            <img src="{{ asset('img/' ~ picture.attachment) }}" alt="">  </span>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <span class="badge badge-secondary">{{ field.value|length}}</span>
{% endif %}